<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LatihanReport.Properties.Settings.MyPracticeConnectionString"
            connectionString="Data Source=LAPTOP-8G19OCTK\SQLEXPRESS01;Initial Catalog=MyPractice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key ="TestString" value ="DEV"/>
    <add key ="TestAngka" value="200"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>